extends layout

block content
  //- form(action="/" method="POST")
  //-   label(for="name") Name:
  //-   input(
  //-     type="text"
  //-     id="name"
  //-     name="name"
  //-   )

  //-   label(for="email") Email:
  //-   input(
  //-     type="email"
  //-     id="email"
  //-     name="email"
  //-   )

  //-   input(type="submit" value="Submit")

block dateContent
  form(action='/dateChosen', method="POST", class="date-location-chooser")

    //- Month Label
    label(for='monthLabel') Months 
      select(name='monthChosen', id='')
        each month in Months
            option=month
    
    //- Day Label
    label(for='monthLabel') Day 
      select(name='monthChosen', id='')
        each month in Months
            option=month

    //- Year Label
    label(for='monthLabel') Year 
      select(name='monthChosen', id='')
        each year in Years
            option=year
    
    input(type="radio", name="busStop", value="UTSG", checked)
    | UTSG
    input(type="radio", name="busStop", value="UTM")
    | UTM

    input(type='submit', value='Submit', class="btn btn-lg btn-primary btn-block")


//- block dateContent
//-   form(action='/dateChosen' method="POST")
//-     label(for='monthLabel') Months 
//-     select(name='monthChosen', id='')
//-       each month in Months
//-           option=month
//-       input(type='submit', value='Submit')
