doctype html
html
  head
    title= `${title}`

  body
    div.container.form-area
        h1(id='title') UofT Shuttle Bus Scheduler
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        
        block dateContent

        //- block leaveNow

        block instructions

            

