doctype html
html
  head
    title= `${title}`

  body
    div.container.date-location-chooser
        h1 Shuttle Bus Scheduler
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        //- //- <link rel="stylesheet" href="datepicker.min.css">
        //- link(rel='stylesheet', herf='https://unpkg.com/js-datepicker/dist/datepicker.min.css')
        //- script(src='https://unpkg.com/js-datepicker')

        block content

        block dateContent

        block leaveNow

        block instructions

        h1 #{currentDate}
        h1 #{locationChosen}

